.batman-store{
  &__banner{
    display: flex;
    width: 920px;
    height: 400px;
    background: linear-gradient(to right, rgb(0, 4, 40), rgb(111, 0, 0));
    border-radius: 24px;
    padding-left : 50px;
    border-style: solid;
    overflow: hidden;


    &_container{
      display: flex;
      flex-direction: column;
      justify-content: center;



      h3{
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
        margin-bottom: 8px;
      }
      & > p{
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
        margin-bottom: 16px;
      }
      button{
        background: #FFFFFF;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.250929);
        border-radius: 16px;
        padding: 18px 43px;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #11142D;
        border: none;
        cursor: pointer;
        transition: 0.5s;

        &:hover{
          box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.250929);

        }
      }
    }
  }
}