.batman-store {
  &__container {
    margin: 34px;
    overflow: hidden;
    width: 100%;

    & > p {
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: #11142d;
      margin-top: 47px;
    }
    h1 {
      font-weight: 600;
      font-size: 40px;
      line-height: 60px;
      letter-spacing: -1px;
      color: #11142d;
      margin-top: 10px;
    }

    &_banner {
      margin-top: 30px;
      width: 978px;
    }
    & > img {
      margin-left: 30px;
      border-radius: 0 0 24px 0;
    }
  }
}

.carousel-inner {
  display: flex;
}
